extends layout



block content
  h1= title + '  * ' + numFiles + ' * '

  
  link(rel='stylesheet', href='/stylesheets/fileListOne.css')


  
  div(id="idFileListContainer")
   ul
    each val in allFileDetails
     - var aFile=val
     li='' 
       span(class='fName') #{aFile.name} 
       span(class='fDate') #{aFile.aTime}

  
  script(src='/javascripts/app.js')