extends layout



block content
  h1= title + '  * ' + numFiles + ' * '

  
  link(rel='stylesheet', href='/stylesheets/fileListOne.css')


  //-
   div(id="idFileListContainer")
   ul
    each val in allFileDetails
     - var aFile=val
     li='' 
       span(class='fName') #{aFile.name} 
       span(class='fDate') #{aFile.aTime}
  //
  
  div(id="idFileListContainer")

  script.
   var allFileDetails =!{JSON.stringify(allFileDetails)}; 
   //console.log(allFileDetails);
   var sorted = allFileDetails;
   var newString = '<ul>';
   for (var i = sorted.length - 1; i >= 0; i--) {
     //var fDetails = sorted[i];
     //console.log('sorted[i]',sorted[i].name);
     newString += '<li><span class="fName">'+sorted[i].name+'</span><span class="fDate">'+sorted[i].aTime+'</span></li>';
    }
    newString += '</ul>';
    //document.body.innerHTML = newString;
    document.getElementById('idFileListContainer').innerHTML = newString;
  

   


		

  script.
   //var local_data =!{JSON.stringify(allFileDetails)}; 
   //ref: https://stackoverflow.com/questions/21263337/passing-a-variable-from-jade-to-javascript
   var aFileDetails =!{JSON.stringify(allFileDetails)}; 
   //var local_data =(allFileDetails); 
   //console.log(aFileDetails)
   //ref: https://stackoverflow.com/questions/21263337/passing-a-variable-from-jade-to-javascript
   //var sFileDetails = `#{allFileDetails}`;
   //console.log(aFileDetails)

  
  //-script(src='/javascripts/fileListOne.js')



