extends layout



block content
  h3= folder
  h1= title + '  * ' + numFiles + ' * '
  //h3= dfPath

  
  link(rel='stylesheet', href='/stylesheets/myApp.css')


  p
   video(id="idVideo" width="400", height="300", controls)
    //source(src="/Users/saumya/Downloads/2_books/zz_z/11_2.mp4", type="video/mp4")
    //source(src="../../../../../../Downloads/2_books/zz_z/11_2.mp4", type="video/mp4")
    //source(src="../11_2.mp4", type="video/mp4")
    //source(src="../videos/1.mp4", type="video/mp4")
    source(src=dfPath, type="video/mp4")

  span(id="idVideoInfo")

  div(id="idListContainer")
   ul
    each val in allFiles
     - var aFile=val
     li='' 
       button(name='btnPlay' value='Play' width='100' onclick= "onButtonClick(' "+ val +" ')") Play
       span(class='lText') #{aFile}

     //( button( onclick= "myFunction('#{stringVariable}')" ) )
  
  //p
   //- 
    //var list = ["Uno", "Dos", "Tres","Cuatro", "Cinco", "Seis"] 
  //each item in list
   //li= item


  p
   -
    var onButtonClick = function(obj){ console.log('click'); }
  
  script(src='/javascripts/app.js')