extends layout


block content
  h3= folder
  h1= title + '  * ' + numFiles + ' * '
  //h3= dfPath

  p
   video(width="400", height="300", controls)
    //source(src="/Users/saumya/Downloads/2_books/zz_z/11_2.mp4", type="video/mp4")
    //source(src="../../../../../../Downloads/2_books/zz_z/11_2.mp4", type="video/mp4")
    //source(src="../11_2.mp4", type="video/mp4")
    //source(src="../videos/1.mp4", type="video/mp4")
    source(src=dfPath, type="video/mp4")

  p
   ul
    each val in allFiles
     li= val 
       button(name='btnPlay' value='Play' onclick= "onButtonClick('#{val}')")

     //( button( onclick= "myFunction('#{stringVariable}')" ) )
  
  //p
   //- 
    //var list = ["Uno", "Dos", "Tres","Cuatro", "Cinco", "Seis"] 
  //each item in list
   //li= item


  p
   -
    var onButtonClick = function(obj){ console.log('click'); }